*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(90deg, #41b3a3, #c38d9e);
}

.resume {
    width: 800px;
    background: #f5f5f5;
    margin: 25px auto;
    display: flex;
}

.left {
    background:  #c38d9e;
    width: 250px;
    padding: 0 20px;
}

.right {
    width: calc(100% - 250px);
}

.left .image {
    text-align: center;
    padding: 20px 0;
}

.left .image img {
    width: 200px;
    border-radius: 30px;
}

.contact {
    padding-bottom: 20px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 10px;
    color: #f5f5f5;
    position: relative;
    text-align: right;
    margin-bottom: 15px;
}

.title:before {
    content: "";
    position: absolute;
    top: 30px;
    right: 0;
    width: 50px;
    height: 3px;
    background: #f2f2f2;
}

.left .text {
    color: #f2f2f2;
    text-transform: uppercase;
    font-size: 13px;
}

.contact .li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contact .li .icon {
    color: #f2f2f2;
    margin: 5px;
}

.skills ul,
.hobbies ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills .li,
.hobbies .li {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 15px;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills .text,
.hobbies .text {
    font-size: 10px;
    font-weight: 500;
    color: #000000;
}

.header {
    background: #c38d9e;
    padding: 15px 30px;
    color: #ffffff;
    height: 270px;
}

.header .name {
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 900;
    color: #2b2b2b;
}

.header .role {
    font-weight: 700;
    font-size: 20px;
}

.header .about {
    margin-top: 20px;
    line-height: 25px;
}

.inner {
    padding: 30px;
    color: #0eb19b;
}

.inner .title {
    color: #2f2f2f;
    font-weight: 900;
}

.inner .title:before {
    content: "";
    position: absolute;
    top: 30px;
    right: 0;
    width: 50px;
    height: 3px;
    background: #2f2f2f;
}

.inner .exp_li,
.inner .educ_li {
    display: flex;
    margin-bottom: 15px;
}

.inner .exp_li .date,
.inner .educ_li .date {
    width: 125px;
}

.inner .exp_li .info,
.inner .educ_li .info {
    width: calc(100% - 125px);
    padding-left: 25px;
    position: relative;
}

.inner .exp_li .info_title,
.inner .educ_li .info_title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.inner .exp_li .info_sub,
.inner .educ_li .info_sub {
    font-weight: 300;
    font-size: 14px;
    margin-top: 3px;
}

.inner .exp_li .info_content,
.inner .educ_li .info_content {
    margin-top: 25px;
    color: #000000;
    text-align: justify;
}

.inner .exp_li .info::before,
.inner .educ_li .info::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #0eb19b;
    border-radius: 50%;
}

.inner .exp_li .info::after,
.inner .educ_li .info::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 4px;
    width: 2px;
    height: 90%;
    background: #0eb19b;
}