*{
    text-decoration: none;
}
body {
    background: rgb(65,179,163);
    background: linear-gradient(180deg, #41b3a3 0%, 
    #84dbb0 25%, 
    #c38d9e 50%, 
    #ea8a87 75%, 
    #e27d60 100%);
}
div{
position: relative;
top: -100px;
}
h1 {
    font-family: Montserrat; 
    font-weight: 900;
    font-size: 140px; 
    color: #ffffff;
    text-align: center; 
    word-spacing: 10px;
    padding-left: 15px;
}
h2 {
    font-family: Montserrat; 
    font-weight: 600; 
    color: #ffffff; 
    word-spacing: 10px;
    padding-left: 25px;
}
#box {
    border-radius: 25px;
    border: 2px solid #3b3636;
}
blockquote {
    font-family: Cardo; 
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    max-width: 1200px; 
    text-align: justify;
    text-indent: 5%;
    word-spacing: 5px;
    letter-spacing: 2px; 
    padding-left: 25px;
}
#child {
    color: #000000;
}
#teen {
    color: #3b3636;
}
#college {
    color: #ffffff;
}
abbr {
    text-decoration: none;
}
.anchor{
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background: #f5f5f5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 700;
    color: #000000;
}
